# IntelliJ

.idea/*
.idea/tasks.xml
.idea/workspace.xml
.idea/libraries
.idea
*.iml


# Local configuration file (sdk path, etc)
local.properties


# Intellij IDEA (see https://intellij-support.jetbrains.com/entries/23393067)
.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids

*.orig


/out
/*/release
/*/build
/*/*.iml
*.iws
*.ipr
*~
*.swp

*.log

# Gradle
.gradle


.DS_Store
/build
/captures
.externalNativeBuild

# Local documentation bloating folder
/documentation
