<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ AndroidManifest.xml
  ~ Created by G.Capelli on 8/4/2016
  ~ This file is part of BasicAirData GPS Logger
  ~
  ~ Copyright (C) 2011 BasicAirData
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="20"/>

    <!--<uses-feature android:name="android.hardware.location.gps" android:required="true" />-->

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/gpx+xml" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/vnd.google-earth.kml+xml" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND_MULTIPLE" />
            <data android:mimeType="text/xml" />
        </intent>
    </queries>

    <application
        android:name=".GPSApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:installLocation="internalOnly"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/gps_logger"
        android:label="@string/app_name"
        android:theme="@style/LaunchScreenTheme"
        android:supportsRtl="true">

        <activity android:name=".GPSActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingsActivity"
            android:theme="@style/MySettingsTheme"
            android:label="@string/menu_settings"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GPSActivity" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="eu.basicairdata.graziano.gpslogger.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <receiver android:name=".ActionsBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GPSService"
            android:enabled="true"
            android:foregroundServiceType="location"
            android:exported="false">
            <intent-filter>
                <action android:name="eu.basicairdata.graziano.gpslogger.GPSService" />
            </intent-filter>
        </service>

    </application>

</manifest>