<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ AndroidManifest.xml
  ~ Created by G.Capelli (BasicAirData) on 8/4/2016
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.basicairdata.graziano.gpslogger">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-sdk xmlns:tools="http://schemas.android.com/tools"
        tools:overrideLibrary="android.support.v14.preference" />

    <application
        android:name=".GPSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/gps_logger"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:alwaysRetainTaskState="true"
        android:launchMode="singleInstance"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".GPSActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    android:launchMode="singleInstance"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"
            android:launchMode="singleInstance"
            android:configChanges="orientation|screenSize">
        </activity>
        <service
            android:name=".GPSService"
            android:exported="false">
        </service>
    </application>

</manifest>